# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

---
################################################################################
#
#   Section: Organizations
#
#   - This section defines the different organizational identities which will
#   be referenced later in the configuration.
#
################################################################################
Organizations:
{{- range .Orgs }}
  {{- $orgName := .Name }}
  {{- $orgMSPID := .MSPID }}
  {{- $orgDomain := .Domain }}
  - &{{ $orgName }}
    Name: {{ $orgName }}
    # ID to load the MSP definition as
    ID: {{ $orgMSPID }}
    # MSPDir is the filesystem path which contains the MSP configuration
    MSPDir: ../organizations/{{ if gt .PeerCount 0 }}peerOrganizations{{ else }}ordererOrganizations{{ end }}/{{ $orgDomain }}/msp
    # Policies defines the set of policies at this level of the config tree
    # For organization policies, their canonical path is usually
    #   /Channel/<Application|Orderer>/<OrgName>/<PolicyName>
    Policies:
      Readers:
        Type: Signature
        Rule: "OR('{{ $orgMSPID }}.admin', '{{ $orgMSPID }}.peer', '{{ $orgMSPID }}.client')"
      Writers:
        Type: Signature
        Rule: "OR('{{ $orgMSPID }}.admin', '{{ $orgMSPID }}.client')"
      Admins:
        Type: Signature
        Rule: "OR('{{ $orgMSPID }}.admin')"
      Endorsement:
        Type: Signature
        Rule: "OR('{{ .MSPID }}.peer')"
    {{- if gt .OrdererCount 0 }}
    OrdererEndpoints:
      {{- range $i, $e := until .OrdererCount }}
      - orderer{{$i}}.{{ $orgDomain }}:7050
      {{- end }}
    {{- end }}
{{- end }}

################################################################################
#
#   SECTION: Capabilities
#
#   - This section defines the capabilities of fabric network. This is a new
#   concept as of v1.1.0 and should not be utilized in mixed networks with
#   v1.0.x peers and orderers.  Capabilities define features which must be
#   present in a fabric binary for that binary to safely participate in the
#   fabric network.
#
################################################################################
Capabilities:
  # Channel capabilities apply to both the orderers and the peers and must be
  # supported by both.
  Channel: &ChannelCapabilities
    V2_0: true
  # Orderer capabilities apply only to the orderers, and may be safely
  # used with prior release peers.
  Orderer: &OrdererCapabilities
    V2_0: true
  # Application capabilities apply only to the peer network, and may be safely
  # used with prior release orderers.
  Application: &ApplicationCapabilities
    V2_0: true

################################################################################
#
#   SECTION: Application
#
#   - This section defines the values to encode into a config transaction or
#   genesis block for application related parameters
#
################################################################################
Application: &ApplicationDefaults
  # Organizations is the list of orgs which are defined as participants on
  # the application side of the network
  Organizations:
  # Policies defines the set of policies at this level of the config tree
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    LifecycleEndorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"
    Endorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"
  Capabilities:
    <<: *ApplicationCapabilities

################################################################################
#
#   SECTION: Orderer
#
#   - This section defines the values to encode into a config transaction or
#   genesis block for orderer related parameters
#
################################################################################
Orderer: &OrdererDefaults
  OrdererType: {{ .OrdererType }}
  # Addresses used to be the list of orderer addresses that clients and peers
  # could connect to.  However, this does not allow clients to associate orderer
  # addresses and orderer organizations which can be useful for things such
  # as TLS validation.  The preferred way to specify orderer addresses is now
  # to include the OrdererEndpoints item in your org definition
  Addresses:
  {{- range .Orgs }}
    {{- if gt .OrdererCount 0 }}
    {{- $orgDomain := .Domain }}
    {{- range $i, $e := until .OrdererCount }}
    - orderer{{$i}}.{{ $orgDomain }}:7050
    {{- end }}
    {{- end }}
  {{- end }}
  
  {{- if eq .OrdererType "etcdraft" }}
  EtcdRaft:
    Consenters:
    {{- range .Orgs }}
      {{- if gt .OrdererCount 0 }}
      {{- $orgDomain := .Domain }}
      {{- range $i, $e := until .OrdererCount }}
      - Host: orderer{{$i}}.{{ $orgDomain }}
        Port: 7050
        ClientTLSCert: ../organizations/ordererOrganizations/{{ $orgDomain }}/orderers/orderer{{$i}}.{{ $orgDomain }}/tls/server.crt
        ServerTLSCert: ../organizations/ordererOrganizations/{{ $orgDomain }}/orderers/orderer{{$i}}.{{ $orgDomain }}/tls/server.crt
      {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- if eq .OrdererType "BFT" }}
  SmartBFT:
    RequestBatchMaxCount: 100
    RequestBatchMaxInterval: 50ms
    RequestForwardTimeout: 2s
    RequestComplainTimeout: 20s
    RequestAutoRemoveTimeout: 3m0s
    ViewChangeResendInterval: 5s
    ViewChangeTimeout: 20s
    LeaderHeartbeatTimeout: 1m0s
    CollectTimeout: 1s
    RequestBatchMaxBytes: 10485760
    IncomingMessageBufferSize: 200
    RequestPoolSize: 100000
    LeaderHeartbeatCount: 10
  ConsenterMapping:
  {{- range .Orgs }}
    {{- if gt .OrdererCount 0 }}
    {{- $orgDomain := .Domain }}
    {{- $orgMSPID := .MSPID }}
    {{- range $i, $e := until .OrdererCount }}
    - ID: {{ nextID }}
      Host: orderer{{$i}}.{{ $orgDomain }}
      Port: 7050
      MSPID: {{ $orgMSPID }}
      Identity: ../organizations/ordererOrganizations/{{ $orgDomain }}/orderers/orderer{{$i}}.{{ $orgDomain }}/msp/signcerts/orderer{{$i}}.{{ $orgDomain }}-cert.pem
      ClientTLSCert: ../organizations/ordererOrganizations/{{ $orgDomain }}/orderers/orderer{{$i}}.{{ $orgDomain }}/tls/server.crt
      ServerTLSCert: ../organizations/ordererOrganizations/{{ $orgDomain }}/orderers/orderer{{$i}}.{{ $orgDomain }}/tls/server.crt
    {{- end }}
    {{- end }}
  {{- end }}
  {{- end }}

  # Batch Timeout: The amount of time to wait before creating a batch
  BatchTimeout: 2s
  # Batch Size: Controls the number of messages batched into a block
  BatchSize:
    # Max Message Count: The maximum number of messages to permit in a batch
    MaxMessageCount: 10
    # Absolute Max Bytes: The absolute maximum number of bytes allowed for
    # the serialized messages in a batch.
    AbsoluteMaxBytes: 99 MB
    # Preferred Max Bytes: The preferred maximum number of bytes allowed for
    # the serialized messages in a batch. A message larger than the preferred
    # max bytes will result in a batch larger than preferred max bytes.
    PreferredMaxBytes: 512 KB
  # Organizations is the list of orgs which are defined as participants on
  # the orderer side of the network
  Organizations:
  # Policies defines the set of policies at this level of the config tree
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    # BlockValidation specifies what signatures must be included in the block
    # from the orderer for the peer to validate it.
    BlockValidation:
      Type: ImplicitMeta
      Rule: "ANY Writers"

################################################################################
#
#   CHANNEL
#
#   This section defines the values to encode into a config transaction or
#   genesis block for channel related parameters.
#
################################################################################
Channel: &ChannelDefaults
  Policies:
    # Who may invoke the 'Deliver' API
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    # Who may invoke the 'Broadcast' API
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    # By default, who may modify elements at this config level
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
  Capabilities:
    <<: *ChannelCapabilities

################################################################################
#
#   Profile
#
#   - Different configuration profiles may be encoded here to be specified
#   as parameters to the configtxgen tool
#
################################################################################
Profiles:
  ApplicationChannel:
    Consortium: SampleConsortium
    <<: *ChannelCapabilities
    Application:
      <<: *ApplicationDefaults
      Organizations:
{{- range .Orgs }}
  {{- if gt .PeerCount 0 }}
        - *{{ .Name }}
  {{- end }}
{{- end }}
      Capabilities:
        <<: *ApplicationCapabilities
