---
################################################################################
#
#   Section: Organizations
#
#   - This section defines the different organizational identities which will
#   be referenced later in the configuration.
#
################################################################################
Organizations:
{{- range $orgIndex, $org := .Orgs }}
  {{- $orgName := .Name }}
  {{- $orgMSPID := .MSPID }}
  {{- $orgDomain := .Domain }}
  - &{{ $orgName }}
    Name: {{ $orgName }}
    # ID to load the MSP definition as
    ID: {{ $orgMSPID }}
    # MSPDir is the filesystem path which contains the MSP configuration
    MSPDir: ../organizations/{{ toLower $orgName }}/identities/{{ if gt .OrdererCount 0 }}ordererOrganizations{{ else }}peerOrganizations{{ end }}/{{ $orgDomain }}/msp
    # Policies defines the set of policies at this level of the config tree
    Policies:
      Readers:
        Type: Signature
        Rule: "OR('{{ $orgMSPID }}.admin', '{{ $orgMSPID }}.client'{{ if gt .PeerCount 0 }}, '{{ $orgMSPID }}.peer'{{ end }}{{ if gt .OrdererCount 0 }}, '{{ $orgMSPID }}.orderer'{{ end }})"
      Writers:
        Type: Signature
        Rule: "OR('{{ $orgMSPID }}.admin', '{{ $orgMSPID }}.client'{{ if gt .PeerCount 0 }}, '{{ $orgMSPID }}.peer'{{ end }}{{ if gt .OrdererCount 0 }}, '{{ $orgMSPID }}.orderer'{{ end }})"
      Admins:
        Type: Signature
        Rule: "OR('{{ $orgMSPID }}.admin')"
      Endorsement:
        Type: Signature
        Rule: "OR('{{ .MSPID }}.peer')"

    {{- if gt .PeerCount 0 }}
    AnchorPeers:
      # AnchorPeers defines the location of peers which can be used
      # for cross organization gossip communication.
      - Host: peer0.{{ $orgDomain }}
        Port: 7051
    {{- end }}

    {{- if gt .OrdererCount 0 }}
    OrdererEndpoints:
      {{- range $i, $e := until .OrdererCount }}
      - orderer{{$i}}.{{ $orgDomain }}:7050
      {{- end }}
    {{- end }}
{{- end }}

################################################################################
#
#   SECTION: Capabilities
#
#   - This section defines the capabilities of fabric network.
#
################################################################################
Capabilities:
  # Channel capabilities apply to both the orderers and the peers and must be
  # supported by both.
  Channel: &ChannelCapabilities
    V3_0: true
  # Orderer capabilities apply only to the orderers, and may be safely
  # used with prior release peers.
  Orderer: &OrdererCapabilities
    V2_0: true
  # Application capabilities apply only to the peer network, and may be safely
  # used with prior release orderers.
  Application: &ApplicationCapabilities
    V2_5: true

################################################################################
#
#   SECTION: Application
#
#   - This section defines the values to encode into a config transaction or
#   genesis block for application related parameters
#
################################################################################
Application: &ApplicationDefaults
  # Organizations is the list of orgs which are defined as participants on
  # the application side of the network
  Organizations:
  # Policies defines the set of policies at this level of the config tree
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    LifecycleEndorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"
    Endorsement:
      Type: ImplicitMeta
      Rule: "MAJORITY Endorsement"
  Capabilities:
    <<: *ApplicationCapabilities

################################################################################
#
#   SECTION: Orderer
#
#   - This section defines the values to encode into a config transaction or
#   genesis block for orderer related parameters
#
################################################################################
Orderer: &OrdererDefaults
  OrdererType: {{ .OrdererType }}
  # Addresses used to be the list of orderer addresses that clients and peers
  # could connect to.
  # For V3_0 capability, global Addresses are NOT allowed. They must be defined
  # in the organization definitions (which we already do).
  Addresses:

  {{- if eq .OrdererType "etcdraft" }}
  EtcdRaft:
    Consenters:
    {{- range $orgIndex, $org := .Orgs }}
      {{- if gt .OrdererCount 0 }}
      {{- $orgDomain := .Domain }}
      {{- $orgName := toLower .Name }}
      {{- range $i, $e := until .OrdererCount }}
      - Host: orderer{{$i}}.{{ $orgDomain }}
        Port: 7050
        ClientTLSCert: ../organizations/{{ $orgName }}/identities/ordererOrganizations/{{ $orgDomain }}/orderers/orderer{{$i}}.{{ $orgDomain }}/tls/server.crt
        ServerTLSCert: ../organizations/{{ $orgName }}/identities/ordererOrganizations/{{ $orgDomain }}/orderers/orderer{{$i}}.{{ $orgDomain }}/tls/server.crt
      {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- if eq .OrdererType "BFT" }}
  SmartBFT:
    RequestBatchMaxCount: 100
    RequestBatchMaxInterval: 50ms
    RequestForwardTimeout: 2s
    RequestComplainTimeout: 20s
    RequestAutoRemoveTimeout: 3m0s
    ViewChangeResendInterval: 5s
    ViewChangeTimeout: 20s
    LeaderHeartbeatTimeout: 1m0s
    CollectTimeout: 1s
    RequestBatchMaxBytes: 10485760
    IncomingMessageBufferSize: 200
    RequestPoolSize: 100000
    LeaderHeartbeatCount: 10
  ConsenterMapping:
  {{- range $orgIndex, $org := .Orgs }}
    {{- if gt .OrdererCount 0 }}
    {{- $orgDomain := .Domain }}
    {{- $orgMSPID := .MSPID }}
    {{- $orgName := toLower .Name }}
    {{- range $i, $e := until .OrdererCount }}
    - ID: {{ nextID }}
      Host: orderer{{$i}}.{{ $orgDomain }}
      Port: 7050
      MSPID: {{ $orgMSPID }}
      Identity: ../organizations/{{ $orgName }}/identities/ordererOrganizations/{{ $orgDomain }}/orderers/orderer{{$i}}.{{ $orgDomain }}/msp/signcerts/orderer{{$i}}.{{ $orgDomain }}-cert.pem
      ClientTLSCert: ../organizations/{{ $orgName }}/identities/ordererOrganizations/{{ $orgDomain }}/tls/server.crt
      ServerTLSCert: ../organizations/{{ $orgName }}/identities/ordererOrganizations/{{ $orgDomain }}/tls/server.crt
    {{- end }}
    {{- end }}
  {{- end }}
  {{- end }}

  # Batch Timeout: The amount of time to wait before creating a batch
  BatchTimeout: 2s
  # Batch Size: Controls the number of messages batched into a block
  BatchSize:
    # Max Message Count: The maximum number of messages to permit in a batch
    MaxMessageCount: 10
    # Absolute Max Bytes: The absolute maximum number of bytes allowed for
    # the serialized messages in a batch.
    AbsoluteMaxBytes: 99 MB
    # Preferred Max Bytes: The preferred maximum number of bytes allowed for
    # the serialized messages in a batch. A message larger than the preferred
    # max bytes will result in a batch larger than preferred max bytes.
    PreferredMaxBytes: 512 KB
  # Organizations is the list of orgs which are defined as participants on
  # the orderer side of the network
  Organizations:
  # Policies defines the set of policies at this level of the config tree
  Policies:
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
    # BlockValidation specifies what signatures must be included in the block
    # from the orderer for the peer to validate it.
    BlockValidation:
      Type: ImplicitMeta
      Rule: "ANY Writers"
  Capabilities:
    <<: *OrdererCapabilities

################################################################################
#
#   CHANNEL
#
#   This section defines the values to encode into a config transaction or
#   genesis block for channel related parameters.
#
################################################################################
Channel: &ChannelDefaults
  Policies:
    # Who may invoke the 'Deliver' API
    Readers:
      Type: ImplicitMeta
      Rule: "ANY Readers"
    # Who may invoke the 'Broadcast' API
    Writers:
      Type: ImplicitMeta
      Rule: "ANY Writers"
    # By default, who may modify elements at this config level
    Admins:
      Type: ImplicitMeta
      Rule: "MAJORITY Admins"
  Capabilities:
    <<: *ChannelCapabilities

################################################################################
#
#   Profile
#
#   - Different configuration profiles may be encoded here to be specified
#   as parameters to the configtxgen tool
#
################################################################################
Profiles:
  ApplicationChannel:
    <<: *ChannelDefaults
    Orderer:
      <<: *OrdererDefaults
      Organizations:
{{- range .Orgs }}
  {{- if gt .OrdererCount 0 }}
        - *{{ .Name }}
  {{- end }}
{{- end }}
    Application:
      <<: *ApplicationDefaults
      Organizations:
{{- range .Orgs }}
  {{- if gt .PeerCount 0 }}
        - *{{ .Name }}
  {{- end }}
{{- end }}
