#!/usr/bin/env bash

ROOTDIR=$(cd "$(dirname "$0")"/.. && pwd)
. ${ROOTDIR}/scripts/envVar.sh
. ${ROOTDIR}/network.config

CHANNEL_NAME="$1"
DELAY="$2"
MAX_RETRY="$3"
VERBOSE="$4"
BFT="$5"

: "${CHANNEL_NAME:="mychannel"}"
: "${DELAY:="${CLI_DELAY:-3}"}"
: "${MAX_RETRY:="${MAX_RETRY:-5}"}"
: "${VERBOSE:="false"}"
: "${BFT:=0}"

if [ ! -d "${ROOTDIR}/channel-artifacts" ]; then
	mkdir ${ROOTDIR}/channel-artifacts
fi

createChannelGenesisBlock() {
	which configtxgen
	if [ "$?" -ne 0 ]; then
		fatalln "configtxgen tool not found."
	fi
	set -x
	FABRIC_CFG_PATH=${ROOTDIR}/configtx configtxgen -profile ApplicationChannel -outputBlock ${ROOTDIR}/channel-artifacts/${CHANNEL_NAME}.block -channelID $CHANNEL_NAME
	res=$?
	{ set +x; } 2>/dev/null
  verifyResult $res "Failed to generate channel configuration transaction..."
}

createChannel() {
	# Poll in case the raft leader is not set yet
	local rc=1
	local COUNTER=1
	infoln "Joining orderers to the channel"
	
	# We use osnadmin for modern channel creation/joining
{{- range $orgIndex, $org := .Orgs }}
  {{- if gt .OrdererCount 0 }}
    {{- $orgDomain := .Domain }}
    {{- $orgName := .Name }}
    {{- range $i, $e := until .OrdererCount }}
	rc=1
	COUNTER=1
	infoln "Joining orderer{{$i}}.{{ $orgDomain }} to the channel..."
	while [ $rc -ne 0 ] && [ $COUNTER -lt $MAX_RETRY ] ; do
		sleep $DELAY
		set -x
		FABRIC_CFG_PATH=${ROOTDIR}/configtx osnadmin channel join --channelID ${CHANNEL_NAME} --config-block ${ROOTDIR}/channel-artifacts/${CHANNEL_NAME}.block -o localhost:{{ calculateOrdererPort $orgIndex $i 7053 }} --ca-file "${ROOTDIR}/organizations/{{ toLower $orgName }}/identities/orderer/tlsca/tlsca.{{ $orgDomain }}-cert.pem" --client-cert "${ROOTDIR}/organizations/{{ toLower $orgName }}/identities/orderer/orderers/orderer{{$i}}.{{ $orgDomain }}/tls/server.crt" --client-key "${ROOTDIR}/organizations/{{ toLower $orgName }}/identities/orderer/orderers/orderer{{$i}}.{{ $orgDomain }}/tls/server.key" >&log.txt
		res=$?
		{ set +x; } 2>/dev/null
		rc=$res
		COUNTER=$(expr $COUNTER + 1)
	done
    {{- end }}
  {{- end }}
{{- end }}
	cat log.txt
	verifyResult $res "Channel creation failed"
}

# joinChannel ORG PEER
joinChannel() {
  ORG=$1
  PEER=$2
  setGlobals $ORG $PEER
	local rc=1
	local COUNTER=1
	## Sometimes Join takes time, hence retry
	while [ $rc -ne 0 ] && [ $COUNTER -lt $MAX_RETRY ] ; do
    sleep $DELAY
    set -x
    FABRIC_CFG_PATH=${ROOTDIR}/config peer channel join -b ${ROOTDIR}/channel-artifacts/${CHANNEL_NAME}.block >&log.txt
    res=$?
    { set +x; } 2>/dev/null
		rc=$res
		COUNTER=$(expr $COUNTER + 1)
	done
	cat log.txt
	verifyResult $res "After $MAX_RETRY attempts, peer${PEER} of Org${ORG} has failed to join channel '$CHANNEL_NAME' "
}

## Create channel genesis block
infoln "Generating channel genesis block '${CHANNEL_NAME}.block'"
createChannelGenesisBlock

## Create channel (Join orderers)
infoln "Creating channel ${CHANNEL_NAME}"
createChannel
successln "Channel '$CHANNEL_NAME' created"

## Join all the peers to the channel
{{- range $i, $org := .Orgs }}
  {{- range $j, $p := until .PeerCount }}
infoln "Joining Org{{ inc $i }} peer{{ $j }} to the channel..."
joinChannel {{ inc $i }} {{ $j }}
  {{- end }}
{{- end }}

successln "Channel '$CHANNEL_NAME' joined"
