# Network Configuration Defaults

# Fabric Version
FABRIC_VERSION="{{ .FabricVersion }}"

# Fabric CA Version
CA_VERSION="{{ .CAVersion }}"

# CouchDB Version
COUCHDB_VERSION="{{ .CouchDBVersion }}"

# Using crypto vs CA. default is cryptogen
CRYPTO="{{ .CryptoStrategy }}"

# CA Database settings
CA_DATABASE_TYPE="{{ .CADatabaseType }}"
POSTGRES_VERSION="{{ .PostgresVersion }}"

# max number of retries before giving up
MAX_RETRY=5

# default for delay between commands
CLI_DELAY=3

# default channel name
CHANNEL_NAME="mychannel"

# Chaincode language defaults to "go"
CC_SRC_LANGUAGE="go"

# Chaincode version
CC_VERSION="1.0"

# Chaincode name
CC_NAME="basic"
