networks:
  test:
    name: fabric_test

{{- $orgUpper := toUpper $.Org.Name }}
services:
{{- range $i, $e := until .Org.PeerCount }}
{{- if eq (call $.PeerStateDatabase $i) "couchdb" }}
  couchdb{{$i}}.{{ $.Org.Domain }}:
    container_name: couchdb{{$i}}.{{ $.Org.Domain }}
    image: couchdb:{{ $.CouchDBVersion }}
    labels:
      service: hyperledger-fabric
      org: {{ $.Org.Name }}
      role: couchdb
      peer: peer{{$i}}.{{ $.Org.Domain }}
    environment:
      - COUCHDB_USER=${{ $orgUpper }}_COUCHDB_USER
      - COUCHDB_PASSWORD=${{ $orgUpper }}_COUCHDB_PASSWORD
    ports:
      - {{ $.BindAddress }}:{{ calculatePeerPort $.OrgIndex $i 5984 }}:5984
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5984/_up"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - test

  peer{{$i}}.{{ $.Org.Domain }}:
    environment:
      - CORE_LEDGER_STATE_STATEDATABASE=CouchDB
      - CORE_LEDGER_STATE_COUCHDBCONFIG_COUCHDBADDRESS=couchdb{{$i}}.{{ $.Org.Domain }}:5984
      - CORE_LEDGER_STATE_COUCHDBCONFIG_USERNAME=${{ $orgUpper }}_COUCHDB_USER
      - CORE_LEDGER_STATE_COUCHDBCONFIG_PASSWORD=${{ $orgUpper }}_COUCHDB_PASSWORD
    depends_on:
      - couchdb{{$i}}.{{ $.Org.Domain }}
{{- end }}
{{- end }}
